<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 外食提案 </title>
</head>
<body>
    <h1> 外食先を提案するBotアプリです </h1>
        <p> アプリの説明 </p>
            <P> 外食に行きたいが、候補が多すぎて選ぶのが大変。
                そんな貴方にオススメの１店を紹介するアプリです。</p>
        <p>概 要</p>

        <p>使い方</p>
            <p> 評価、距離のどちらかを優先するか選択し、検索したい地域とキーワードを入力
                するだけで、オススメのお店を紹介します</p>
    
</body>
</html>