<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 外食提案 </title>
</head>
<body>
    <h1> 外食先を提案するBotアプリです </h1>
        <p> アプリの説明 </p>
            <P> 外食に行きたいが、候補が多すぎて選ぶのが大変。
                そんな貴方にオススメの１店を紹介するアプリです。</p>
        <p>概 要</p>

        <p>使い方</p>
            <p> ① 「距離」「レビュー」のどちらかを入力してください
                ②  キーワードを入力してください
                ③  受け取ったURLをクリックしてください</p>

        <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@1656854473" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    
</body>
</html>
